{
  "baseUrl": "http://localhost:3000",
  "projectId": "<your-cypress-project-id>",
  "env": {
    "FIREBASE_PROJECT_ID": "<your-firebase-project-id>"
  },
  "retries": {
    "runMode": 2,
    "openMode": 0
  }
}
